.sidebarcontainer {
  position: absolute;
  // margin-right: 2rem;
  // height: 10rem;
  width: 20em;
  top: 1em;
  right: 15em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 12px #888888;
}

.urvalcontainer {
  padding: 1em 1em 1em 2em;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #d9d9d9;
}

.urval-textnode-container {
  margin-bottom: 1em;
}

.urvalelement {
  display: inline-block;
  padding: 0.5em 0;
  font-weight: normal;
  cursor: pointer;
  margin-right: 1em;
  border-bottom: 3px solid white;
}

.selectedurvalelement {
  border-bottom: 3px solid #d9d9d9;
}

.listcontainer {
  font-size: 12px;
  font-weight: normal;
}

.removelistelement-svg-container {
  display: inline-block;
  height: 1em;
  width: 1em;
  padding: 0.5em;
}

.removelistelement-svg {
  height: 100%;
  width: 100%;
  fill: #cc0000;
}

.exportcontainer {
  padding-left: 2em;
  font-size: 12px;
  font-weight: normal;
  border-top: 1px solid #d9d9d9;
}

.export-svg-container {
  display: inline-block;
  height: 1em;
  width: 1em;
  // padding: 0.5em 1em;
}

.export-svg {
  height: 100%;
  width: 100%;
  fill: dimgray;
}

.export-textnode-container {
  display: inline-block;
  height: 1em;
  padding: 0.5em;
  -ms-transform: translateY(-1px); /* IE 9 */
  -webkit-transform: translateY(-1px); /* Safari */
  transform: translateY(-1px);
  cursor: pointer;
}

.hidden {
  display: none;
}